html, body{
    height: 100%;
    margin: 0;
}
body{
    background-image: url(./images/turboc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #0b10a7;
    padding: 20%;
}
h1{
    font-size: 100%;
    color: greenyellow;
}
.pone{
    font-size: 70%;
    color: greenyellow;
}
.ptwo{
    font-size: 70%;
    color: greenyellow;
}
a{
    position: absolute;
    top: 60%;
    right: 46%;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    border: solid;
    border-radius: 5%;
    color: #adbcec;
}
a:hover{
    background-color: greenyellow;
}

@media screen and (max-width: 425px){
    body{
        background-size: 100% 100%;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        background-color: #0b10a7;  
    }
    body h1{
        font-size: 80%;
    }
    .pone, .ptwo{
        position: absolute;
        font-size: 50%;
    }
    .pone{
        top: 20%;
        right: 14%;
    }
    .ptwo{
        top: 25%;
        right: 2.5%;
    }
    a{
        position: absolute;
        top: 50%;
        right: 33%;
    }

}

